* {
  box-sizing: border-box;
}

.App {
  font-size: 12px;
  height: 100vh;
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0em 2em;
  background: url("../images/bg-mobile-dark.jpg") no-repeat, hsl(235, 21%, 11%);

}

ul {
  padding:1em 0em 1em 0em;
  margin:0;
  width: 100%;
}




