.checkbox-container {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 1em;
}

.checkbox__border {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 2em;
    height: 2em;
    background-color: hsl(234, 39%, 85%);
    border-radius: 50%;
}

.checkbox__inner {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
}

.unchecked {
    background: white;
}

.checked {
    background-image: url("../images/icon-check.svg"), linear-gradient(135deg, hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    background-position:center;
    background-repeat:no-repeat;
    background-size: auto;
}
.checkbox__border:hover {
    background: linear-gradient(135deg, hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}