.task-container {
    display:flex;
    background:hsl(237, 14%, 26%);
    align-items:center;
    padding: .5em;
}

.task-container__title {
    color: hsl(234, 39%, 85%);
}

.task-container__title:hover {
    color: hsl(236, 33%, 92%);
}

.completed {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}

.completed:hover {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}