.task-container {
    display:flex;
    background:hsl(237, 14%, 26%);
    align-items:center;
    padding: .5em;
    width:100%;
    border-bottom: 1px solid hsl(233, 14%, 35%);
}

.task-container__title {
    color: hsl(234, 39%, 85%);
}

.task-container__title:hover {
    color: hsl(236, 33%, 92%);
}

.completed {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}

.completed:hover {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
}

.task-container:first-child{
    border-radius: .5em .5em 0em 0em;
}

.task-container:last-child{
    border-radius: 0em 0em .5em .5em;
    border-bottom: none;
}