.add-project-popup {
    display: none;
}

.add-project-popup-show {
    display: flex;
}

/* .add-project-button {
    display: none;
} */

.user-projects-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

nav {
    min-width: 15%;
    display: flex;
    flex-direction: column;
    resize: horizontal;
    background-color: thistle;

}

body {
    font-family: 'Nimbus Sans';
    font-weight: 100;
    font-size: 14px;

}

h5 {
    font-weight: 100;
    font-size: 24px;
}

main {
    height: 100vh;
    display: flex;

}

footer {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
}

a {
    display: flex;
    align-items: center;
}

/* * {
    border: solid;
} */

.default-projects-container {
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: none;
}

.project-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.add-task {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add-task-input {
    flex: 1 1 auto;
    margin-left: 10px;
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}

li {
    margin: 5px;
}

.project-task-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid;
}

.task-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    justify-content: space-between;
}

.task-container-clicked {
    background-color: rgb(207, 207, 207);
}

.task-container:hover {
    background-color: rgba(108, 142, 251, .5);

}

.task-group {
    display: flex;
}

.task-preview {
    height: 100%;
    background-color: rgb(141, 219, 212);
    resize: horizontal;
    overflow: hidden;
    direction: rtl;
    min-width: 20%;

}

.task-preview-content {
    direction: ltr;
    display: flex;
    flex-direction: column;
    border: solid;
    height: 100%;
}

.description-text {
    flex: 1 0 auto;
    resize: none;
    max-width: 100%;
    max-height: 100%;
}

.task-preview-title-input {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    padding: 18px 0px;
    font-family: 'Nimbus Sans';
    font-weight: bold;
    width: 100%;
}

.task-preview-title-input:focus {
    outline: none;
}

.task-delete-button {
    background: none;
    margin-right: 10px;
}

.priority-popup-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
}

.priority-popup-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

}

.priority-popup-button-container:hover {
    background-color: rgb(235, 225, 225);
}

.high {
    color: red;
    font-size: inherit;
    border: none;
}

.high:hover {
    background-color: rgb(235, 225, 225);
}

.medium {
    color: yellow;
    font-size: inherit;
    border: none;
}

.low {
    color: green;
    font-size: inherit;
    border: none;
}

.none {
    color: lightgray;
    font-size: inherit;
    border: none;
}

.priority-label {
    font-family: 'Nimbus Sans';
    font-size: 12px;
    margin-right: 5px;
}

.priority-label:hover {
    background-color: rgb(235, 225, 225);

}

input[type="checkbox"] {
    display: none;
}

.checkbox-none>label {
    left: 0px;
    display: inline-block;
    min-height: 15px;
    height: 15px;
    width: 15px;
    color: lightgray;
    margin-top: 3px;
}

.checkbox-low>label {
    left: 0px;
    display: inline-block;
    min-height: 15px;
    height: 15px;
    width: 15px;
    color: green;
    margin-top: 3px;
}

.checkbox-medium>label {
    left: 0px;
    display: inline-block;
    min-height: 15px;
    height: 15px;
    width: 15px;
    color: 1px solid yellow;
    margin-top: 3px;
}

.checkbox-high>label {
    left: 0px;
    display: inline-block;
    min-height: 15px;
    height: 15px;
    width: 15px;
    border: 1px solid red;
    margin-top: 3px;
}

.checkbox-high>label:hover {
    color: red;
    background-color: rgba(223, 87, 87, 0.1);
}